@import '@fontsource-variable/league-gothic/wdth.css';
@import '@fontsource-variable/urbanist';

:root {
	--font-family-gothic: 'League Gothic Variable', var(--pico-font-family-sans-serif);

	--pico-font-family: 'Urbanist Variable', var(--pico-font-family-sans-serif);

	--skij-filter-height: 10rem;
}

/** Base elements */
html,
body {
	/* --vis-color-main: var(--pico-primary);
	--vis-color0: var(--pico-primary); */
	--vis-font-family: var(--pico-font-family);

	height: 100%;
}

details section {
	overflow-x: scroll;
}

output {
	font-size: 90%;
	opacity: 60%;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

/** Typography */
.font-default {
	font-family: var(--pico-font-family);
}

.font-gothic {
	font-family: var(--font-family-gothic);
}

/** Surfaces */
.surface-primary {
	background-color: var(--pico-primary);
	color: var(--pico-primary-inverse);
}

.surface-secondary {
	background-color: var(--pico-secondary);
	color: var(--pico-secondary-inverse);
}

.surface-contrast {
	background-color: var(--pico-contrast);
	color: var(--pico-contrast-inverse);
}

/** Layouts */
.layout-inline {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--pico-spacing) / 4);
}

.layout-inline *:not(:last-child)::after {
	content: ',';
}
