@import '@fontsource-variable/league-gothic/wdth.css';
@import '@fontsource-variable/urbanist';

:root {
	--font-family-gothic: 'League Gothic Variable', var(--pico-font-family-sans-serif);
	--search-filter-height: 10rem;

	--pico-font-family: 'Urbanist Variable', var(--pico-font-family-sans-serif);
}

html,
body {
	--vis-color-main: var(--pico-primary);
	--vis-color0: var(--pico-primary);
	--vis-font-family: var(--pico-font-family);

	height: 100%;
}

output {
	font-size: 90%;
	opacity: 60%;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.inline {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--pico-spacing) / 4);
}

.inline *:not(:last-child)::after {
	content: ',';
}
