@import '@fontsource-variable/league-gothic';
@import '@fontsource-variable/urbanist';

:root {
	--font-family-gothic: 'League Gothic Variable', var(--pico-font-family-sans-serif);
	--search-filter-height: 10rem;

	--pico-font-family: 'Urbanist Variable', var(--pico-font-family-sans-serif);
}

html,
body {
	height: 100%;
}
